.loading-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    >* {
        margin: 10px;
    }

    .loading-text {
        font-size: medium;
        font-weight: 500;
    }
}