.room-item {
    display: flex;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;

    >* {
        padding: 5px
    }

    .room-text-container {
        display: flex;
        align-items: center;

        >* {
            margin-left: 5px;
        }

        .room-text {
            user-select: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .menu-button {
            visibility: hidden;
        }
    }
}

.room-selected {
    background-color: rgb(212, 244, 255);
    border: 0.5px solid rgb(0, 140, 255);
}