.room-item {
    display: flex;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;

    >* {
        padding: 5px
    }

    .room-text-container {
        display: flex;
        align-items: center;

        >* {
            margin-left: 5px;
        }

        .room-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .menu-button {
            visibility: hidden;
        }
    }

}