<div class="floor-item">
  <div *ngIf="(floor.rooms?.length ?? 0) > 0; else showInvisibleIcon">
    <button mat-icon-button *ngIf="expand; else hide" (click)="hideRoomList()">
      <mat-icon>expand_more</mat-icon>
    </button>
    <ng-template #hide>
      <button mat-icon-button (click)="expandRoomList()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </ng-template>
  </div>
  <ng-template #showInvisibleIcon>
    <button mat-icon-button class="invisible-icon">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </ng-template>
  <div>
    <div
      class="floor-text-container"
      *ngIf="!floor.editMode; else showEditForm"
    >
      <mat-icon color="accent">living</mat-icon>
      <div class="floor-text" (contextmenu)="openFloorOptionMenu()">
        {{ floor.name }}
      </div>
      <div [matMenuTriggerFor]="menu" class="menu-button"></div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setEditMode(true)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="openDeleteFloorDialog(floor)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
      <button mat-icon-button (click)="showAddRoomForm()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <ng-template #showEditForm>
      <form
        class="floor-text-container"
        [formGroup]="floorNameFormGroup"
        (ngSubmit)="changeFloorName()"
      >
        <mat-form-field appearance="fill" class="dense-2">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            class="floor-name-input"
          />
          <mat-error
            *ngIf="floorNameFormGroup.get('name')?.hasError('required')"
          >
            Required</mat-error
          >
        </mat-form-field>
        <button
          mat-icon-button
          type="submit"
          [class.spinner]="floor.editLoading"
          [disabled]="floor.editLoading"
        >
          <mat-icon>check</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="setEditMode(false)"
          [disabled]="floor.editLoading"
        >
          <mat-icon>close</mat-icon>
        </button>
      </form>
    </ng-template>
  </div>
</div>
<ng-container *ngIf="expand">
  <div *ngIf="floor.showAddRoomForm" class="add-room-form">
    <form
      class="floor-text-container"
      [formGroup]="roomNameFormGroup"
      (ngSubmit)="changeFloorName()"
    >
      <mat-form-field appearance="fill" class="dense-2">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
          class="floor-name-input"
        />
        <mat-error *ngIf="roomNameFormGroup.get('name')?.hasError('required')">
          Required</mat-error
        >
      </mat-form-field>
      <button
        mat-icon-button
        type="submit"
        [class.spinner]="floor.addRoomLoading"
        [disabled]="floor.addRoomLoading"
        (click)="addRoom()"
      >
        <mat-icon>check</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="hideAddRoomForm()"
        [disabled]="floor.addRoomLoading"
      >
        <mat-icon>close</mat-icon>
      </button>
    </form>
  </div>
  <div *ngFor="let room of floor.rooms">
    <app-room-item [room]="room"></app-room-item>
  </div>
</ng-container>
